version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: db_teste
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
